{% extends "layout.html" %}

    {% block title %}
        {% if browse %}
            Recipe Browser
        {% elif favorites %}
            Favorites
        {% elif your_rep %}
            Your Recipes
        {% endif %}
    {% endblock title %}

{% block main %}

    {% if browse %}
        <div class="row cs50">
            <!-- https://getbootstrap.com/docs/4.1/components/alerts/ -->
            <div class="alert alert-info mb-2">
                <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
                <h1 class="alert-heading mb-1">Recipe Browser</h1>
                <div class="row text-left spac_sm mx-2">
                    &bull; Welcome to the recipe browser, this shows all the recipes in our database.
                </div>
            </div>
        </div>
    {% elif favorites %}
        <div class="btn-group mb-3" role="group" aria-label="Table Navigation">
            <button type="button" class="btn btn-outline-info px-3 py-2 active" aria-label="Favorites button" onclick="window.location='/'">Favorites</button>
            <button type="button" class="btn btn-outline-info px-3 py-2" aria-label="Your Recipes button" onclick="window.location='/your_recipes'">Your Recipes</button>
        </div>
    {% elif your_rep %}
        <div class="btn-group mb-3" role="group" aria-label="Table Navigation">
            <button type="button" class="btn btn-outline-info px-3 py-2" aria-label="Favorites button" onclick="window.location='/'">Favorites</button>
            <button type="button" class="btn btn-outline-info px-3 py-2 active" aria-label="Your Recipes button" onclick="window.location='/your_recipes'">Your Recipes</button>
        </div>
    {% endif %}

    {% block table %}{% endblock table %}

{% endblock main %}
