{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock title %}

{% block main %}

    <img class="lfg_logo" src="/static/images/lfg_logo.png" alt="LFG Logo">
    <h2 class="logo my-4">Virtual Cookbook</h2>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="form-group mb-4">
            <input autocomplete="off" autofocus class="form-control cs50" name="username" placeholder="Username" type="text" maxlength="50" aria-label="Username" autofocus required>
            <!-- https://getbootstrap.com/docs/4.1/components/forms/#validation -->
            <div class="invalid-feedback relative">
                Please provide your username.
            </div>
        </div>
        <div class="form-group mt-1 mb-4">
            <input class="form-control cs50" name="password" placeholder="Password" type="password" maxlength="50" aria-label="Password" required>
            <div class="invalid-feedback relative">
                Please provide your password.
            </div>
        </div>
        <button class="btn btn-info mt-1" type="submit" aria-label="Log In button">Log In</button>
    </form>

    <script>
        /* https://getbootstrap.com/docs/4.1/components/forms/#custom-styles */
        /* Validates all individual text fields and select menus */
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock main %}
