{% extends "layout.html" %}

{% block title %}
    Register
{% endblock title %}

{% block main %}
    <!-- Modified cs50 Finance login.html -->
    <form action="/register" method="post" id="register">
        <div>
            Please choose a username and password:
        </div>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control cs50" name="username" placeholder="Username" type="text" maxlength="50" aria-label="Username" autofocus required>
            <!-- https://getbootstrap.com/docs/4.1/components/forms/#validation -->
            <div class="invalid-feedback relative">
                Please provide a username.
            </div>
        </div>
        <div class="form-group">
            <input class="form-control cs50" name="password" placeholder="Password" type="password" maxlength="50" aria-label="Password" required>
            <div class="invalid-feedback relative">
                Please provide a password.
            </div>
        </div>
        <div class="form-group">
            <input class="form-control cs50" name="confirmation" placeholder="Retype Password" type="password" maxlength="50" aria-label="Retype Password" required>
            <div class="invalid-feedback relative">
                Please retype your password.
            </div>
        </div>
        <div class="form-group">
            <input class="form-control cs50" name="secret_code" placeholder="Secret Code" type="password" maxlength="50" aria-label="Secret Code" required>
            <div class="invalid-feedback relative">
                Please provide the secret code.
            </div>
        </div>
        <button class="btn btn-info" type="submit" aria-label="Register button">Register</button>
    </form>

    <script>
        document.getElementById("register").addEventListener("submit", function(event) {
            event.preventDefault();
            $.getJSON("/check", {username: $('input[name="username"]').val()},
            function(data) {
                if (data === false) {
                    alert("username unavailable");
                } else {
                    $("#register").submit();
                }
            });
        });
    </script>

    <script>
        /* https://getbootstrap.com/docs/4.1/components/forms/#custom-styles */
        /* Validates all individual text fields and select menus */
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock main %}
